<!DOCTYPE html>
<html>
<head>
  <title>Nutus</title>

  <%= javascript_include_tag 'https://code.jquery.com/jquery-2.1.4.min.js' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.4/handlebars.min.js' %>
  <%= javascript_include_tag 'tus.js' %>

  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/bacon.js/0.7.80/Bacon.min.js' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag 'https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <!--<%= csrf_meta_tags %>-->
</head>
<body>

<%= yield %>

</body>
</html>
